<h1>A wonderful list of recipes! </h1>

<ol>
    {% for foo in data %}
        <li><a href="/recipe/{{ foo.id }}/">{{ foo.title }}</a>, by <a href="/author/{{ foo.author_id }}/">{{ foo.author }}</a></li>
        <ul>
            <li>{{ foo.description }}</li>
        </ul>
        <br>
    {% endfor %}
        <hr>
        Navigation:
        
        <a style ="border: 1px solid black; padding: 2px;" href="/addauthor/">Add an Author</a>
        
        <a style ="border: 1px solid black; padding: 2px;" href="/additem/">Add a Recipe</a>
</ol>